<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="baf669d9-8d63-400d-a535-6ddcf169f600" activeEnvironment="Default environment" name="32828 - AIS and Web -  prevent booking from existing owner" resourceRoot="" soapui-version="5.7.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="3.40.1" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="baf669d9-8d63-400d-a535-6ddcf169f600fileName">32828---AIS-and-Web----prevent-booking-from-existing-owner-soapui-project</con:setting></con:settings><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>