<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="de50a03a-b820-4eda-8441-5e485e9b7e07" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://ais-preprod-api.parkdeanresorts.co.uk" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="de50a03a-b820-4eda-8441-5e485e9b7e07fileName">https%3A%2F%2Fais-preprod-api.parkdeanresorts.co.uk</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://ais-preprod-api.parkdeanresorts.co.uk</con:endpoint></con:endpoints></con:interface>